<h1>New Article</h1>

<form action="/articles/new" method="POST">
    <%- include('_form_fields.ejs') %>
    <a href="/" class="btn btn-secondary">Cancel</a>
    <button class="btn btn-primary">Save</button>
</form>